* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height:200px;
    background-color: #fff;
    box-shadow: 0px -2px 10px #000;
}

header .header-roxo{
    background-color: #5e299a;
    height: 15px;
}

.header-roxo li {
    display: inline-block;
    margin: 4px;
    color: #fff;
}

#menu {
    display: inline-block;
    margin-top: 40px;
    margin-left: 130px;
}

#menu li {
    display: inline-block;
    font-family: "Arial";
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    margin-left: 20px;
    font-size: 14px;
    
}

#menu li a{
    color: #5e299a;
    text-decoration: none;
    padding: 10px 2px;
    font-weight: bold;
}

#menu li a:hover, .menu-right li a:hover{
 text-decoration: underline;
}

#logotipo{
    position: absolute;
    top: 20px;
    z-index: 4;
}

.menu-right .btn {
    min-width: 100px;
    height: 44px;
    border-radius: 0;
}

.menu-right .ajude{
    background-color: #5e299a;
    border-color: #5e299a;
    color: #fff!important;
}

.menu-right li {
    width: 100%;
    display: inline-block;
    font-family: "Arial";
    text-transform: uppercase;
    position: relative;
    top: -55px;
    margin-left: 20px;
}

.menu-right li a{
    color: #5e299a;
    text-decoration: none;
    margin-left: 370px;
    font-weight: bold;
}


#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url(../images/faixa-lgbt.jpg) no-repeat center center;
    z-index: -3;
    top: -150px;
}

#banner h1 {
    color: #fff;
    top: 200px;
    font-size: 80px;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    font-family: "OpenSans-Light";
    margin-left: 450px;
}

#banner h1 small{
    font-size: 32px;
    display: block;
    color: #fff;
    font-family: "OpenSans";
    font-weight: bold;
    margin-left: 310px;
}

