/*primeira sectiom com imagem de fundo*/
#pg_defesa_pessoal_banner .jumbotron.nomeSocial {
  background-image: url("../../assets/images/nomesocial.jpeg");
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
#pg_defesa_pessoal_banner .jumbotron.ajude {
  background-image: url("../../assets/images/ajude01.jpg");
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
#pg_defesa_pessoal_banner .jumbotron {
  background-image: url("../images/faixa-da-resistencia-kimono-696x446.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 500px;
}
#pg_defesa_pessoal_banner .jumbotron p {
  text-align: right;
  color: white;
  right: 160px;
  font-size: 50px;
  font-style: italic;
}
/*final da edição da section*/

#pg_defesa_pessoal_primeiraClass .primeiraClass {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*inicio mudanças implementadas */
#pg_defesa_pessoal_primeiraClass div div p {
  color: #727272;
  font-size: 23px;
  text-align: justify;
  flex-wrap: wrap;
  box-sizing: border-box;
}
#pg_defesa_pessoal_primeiraClass div div h3 {
  color: #333333;
  font-weight: 520;
  font-size: 27px;
  margin-right: 22px;

}

#pg_defesa_pessoal_primeiraClass div div img {
  height: 300px;
  margin-left: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#pg_defesa_pessoal_segundaClass {
  background-color: #ffd5ff;
  opacity: .5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pg_defesa_pessoal_segundaClass div p {
  font-size: 22px;
  text-align: justify;
}

#pg_defesa_pessoal_segundaClass div img {
  height: 300px;
  margin-left: 0 auto ;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.imagemNomeSocial div img {
  height: 600px !important;
  align-items: center;
  width: 600px;
  position: relative;
 
}


/* Inicio Seção terceiraClass - artigo tela Defesa Pessoal */
section.terceiraClass {
  padding: 40px 0;
}
section.terceiraClass p {
  font-size: 18px;
}

/* Final Seção terceiraClass - artigo tela Defesa Pessoal */

/* Inicio Seção quartaClass - artigo tela Defesa Pessoal */
section.quartaClass {
  background-color: #400040;
  color: #c5c5c5;
  padding: 40px 0;
}
section.quartaClass div h5 {
  text-align: center;
}
section.quartaClass div p {
  text-align: justify;
}
section.quartaClass div h6 {
  text-align: center;
  font-weight: normal !important;
  font-size: 13px;
}
section.quartaClass p {
  font-size: 14px;
}

/* Final Seção quartaClass - artigo tela Defesa Pessoal */
