header#menu_oficial {
  box-shadow: 0px -2px 10px #000;
}

header#menu_oficial ul {
  text-align: center;
}

header#menu_oficial ul li {
}

header#menu_oficial ul li a {
  color: #400040;
  font-weight: 600;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

header#menu_oficial ul li a:hover {
  text-decoration: underline;
}

#botao_flutuante {
  background-color: #400040;
  color: #fff;
  width: 140px;
  height: 140px;
  display: flex;
  position: fixed;
  bottom: 20%;
  right: 10%;
  z-index: 1;
  border: 2px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
  flex-direction: column;
}

#botao_flutuante:hover {
  background-color: #ffd5ff;
  color: #400040;
  width: 140px;
  height: 140px;
  display: flex;
  position: fixed;
  bottom: 20%;
  right: 10%;
  z-index: 1;
  border: 2px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 992px) {
  header#menu_oficial button.navbar-toggler {
    background-color: #400040;
    border: 1px solid #777;
    color: #fff;
    padding: 18px;
  }

  header#menu_oficial ul {
    text-align: center;
    border-top: 2px solid #400040;
  }

  header#menu_oficial ul li {
  }

  header#menu_oficial ul li a {
    color: #400040;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #400040;
  }

  header#menu_oficial img#logotipo {
    width: 90px;
  }

  #botao_flutuante i {
    display: none;
  }

  #botao_flutuante {
    background-color: #400040;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;
    flex-direction: column;
  }

  #botao_flutuante:hover {
    background-color: #400040;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;
    flex-direction: column;
  }
}
