#esquema_da_home #carouselExampleIndicators{
  display: none;
}
@media(max-width:1080px) {
	#esquema_da_home #carouselExampleIndicators{
		display: block;
  }
  #esquema_da_home .navbar{
		display: none;
	}
}/*   Telefone    */


div#antes_do_esquema_da_home {
  background-image: url("../images/bcg.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#esquema_da_home .navbar {
  width: 250px;
  height: 250px;
  line-height: 250px;
  border-radius: 50%;
  background-color: #fffafa;
  margin-top: 260px;
  margin-bottom: 260px;
  margin-right: 290px;
  margin-left: 290px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 2.75em;
  font-weight: bold;
  transition: 0.24s 0.2s;
  border: 2px solid #fffafa;
  animation: pulse 1.5s infinite running;
  animation-delay: 1.5s;
  z-index: 5;
}

/*Inicio da animação pulsante do botão principal*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
  10% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
  20% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1);
  }
  30% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4);
    transform: scale(1);
  }
  40% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.3);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.3);
    transform: scale(1);
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
  65% {
    box-shadow: 0 0 0 65px rgba(255, 255, 255, 0.1);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    transform: scale(1);
  }
}
/*Fim da animação pulsante do botão principal*/

#esquema_da_home .navbar img {
  top: -50px;
  left: -50px;
  z-index: 2;

  /*
  sugestao....
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  position: absolute; */
}

#esquema_da_home .navbar .iconsM {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -125px;
  left: -125px;
  border: 250px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

#esquema_da_home .navbar:hover {
  animation: none;
}

#esquema_da_home .navbar:hover .iconsM {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
}

#esquema_da_home .navbar .iconsM li {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s;
}

#esquema_da_home .navbar:hover .iconsM li {
  transition: all 0.4s;
}

#esquema_da_home .navbar .iconsM li img {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  font-size: 59%;
  transition: 0.7s;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

/*Inicio do item defesa pessoal*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(96.4deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(1) img {
  transition-delay: 0.02s;
  transform: rotate(623.6deg);
  background-color: #fffafa;
  border: 3px solid #9400d3;
}

#esquema_da_home .descricaoA {
  display: none;
}

#esquema_da_home .item:hover .descricaoA {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #9400d3;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(623.6deg);
  position: fixed;
  right: -175px;
  bottom: 40px;
}
/*Fim do item defesa pessoal*/

/*Inicio do item nome social*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(2) {
  transition-delay: 0.02s;
  transform: rotate(147.8deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(2) img {
  transition-delay: 0.02s;
  transform: rotate(572.2deg);
  background-color: #fffafa;
  border: 3px solid #a0522d;
}

#esquema_da_home .descricaoJ {
  display: none;
}

#esquema_da_home .item:hover .descricaoJ {
  display: block;

  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #a0522d;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(572.2deg);
  position: fixed;
  right: 100px;
  bottom: -200px;
}
/*Fim do item nome social*/

/*Inicio do item localizações*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(3) {
  transition-delay: 0.02s;
  transform: rotate(199.2deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(3) img {
  transition-delay: 0.02s;
  transform: rotate(520.8deg);
  background-color: #fffafa;
  border: 3px solid #00ffff;
}

#esquema_da_home .descricaoD {
  display: none;
}

#esquema_da_home .item:hover .descricaoD {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #00ffff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(520.8deg);
  position: fixed;
  right: 85px;
  bottom: -590px;
}
/*Fim do item localizaçõoes*/

/*Inicio do item quer ajudar*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(4) {
  transition-delay: 0.02s;
  transform: rotate(250.6deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(4) img {
  transition-delay: 0.02s;
  transform: rotate(469.4deg);
  background-color: #fffafa;
  border: 3px solid #7cfc00;
}

#esquema_da_home .descricaoE {
  display: none;
}

#esquema_da_home .item:hover .descricaoE {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #7cfc00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(469.4deg);
  position: fixed;
  left: 90px;
  bottom: 35px;
}
/*Fim do item quer ajudar*/

/*Inicio do item casas de acolhimento*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(5) {
  transition-delay: 0.02s;
  transform: rotate(302deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(5) img {
  transition-delay: 0.02s;
  transform: rotate(418deg);
  background-color: #fffafa;
  border: 3px solid #0000ff;
}

#esquema_da_home .descricaoF {
  display: none;
}

#esquema_da_home .item:hover .descricaoF {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #0000ff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(418deg);
  position: fixed;
  left: -295px;
  bottom: 20px;
}
/*fim do item casas de acolhimento*/

/*Inicio do item juridico*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(6) {
  transition-delay: 0.02s;
  transform: rotate(353.4deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(6) img {
  transition-delay: 0.02s;
  transform: rotate(366.6deg);
  background-color: #fffafa;
  border: 3px solid #ff0000;
}

#esquema_da_home .descricaoG {
  display: none;
}

#esquema_da_home .item:hover .descricaoG {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #ff0000;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(366.6deg);
  position: fixed;
  left: -515px;
  bottom: -260px;
}
/*Fim do item juridico*/

/*Inicio do item psicológico*/
#esquema_da_home .navbar:hover .iconsM li:nth-child(7) {
  transition-delay: 0.02s;
  transform: rotate(404.8deg);
}

#esquema_da_home .navbar:hover .iconsM li:nth-child(7) img {
  transition-delay: 0.02s;
  transform: rotate(315.2deg);
  background-color: #fffafa;
  border: 3px solid #ffff00;
}

#esquema_da_home .descricaoH {
  display: none;
}

#esquema_da_home .item:hover .descricaoH {
  display: block;
  width: 400px;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #ffff00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(315.2deg);
  position: fixed;
  right: -540px;
  bottom: -05px;
}
/*Fim do item psicológico*/

#esquema_da_home .descricaoCardA {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #9400d3;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardJ {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #a0522d;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardD {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #00ffff;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardE {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #7cfc00;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black !important;
  text-align: center;
}

#esquema_da_home .descricaoCardF {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #0000ff;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardG {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 8px solid #ff0000;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardH {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #ffff00;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
}

#esquema_da_home .descricaoCardLogo {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #fffafa;
  border: 4px solid #fffafa;
  margin: 0;
  padding: 0;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  font-style: none;
  color: black;
  text-align: center;
  align-items: center;
}

.textoCards {
  font-size: 16px;
  line-height: 20px;
}
