@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: #f2f2f2;
}

/*background color do header*/
nav{
  background: #00BFFF;
}
/*final do background color do header*/

/*background color do header nome social*/
.navNomeSocial{
  background: #ed8f1b;
}
/*final do background color do header nome social*/

/*background color do header defesa pessoal*/
.navDefesaPessoal{
  background: #5dc785;
}
/*final do background color do header defesa pessoal*/

/*background color do header localização*/
.navLocalizacao{
  background: #dec571;
}
/*final do background color do header localização*/


nav:after{
  content: '';
  clear: both;
  display: table;
}
/*logo Assegura*/
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
/*final edição logo*/

/*edição da lista não ordenada*/
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
/*final da edição da ul*/

/*edição do submenu*/
nav ul li {
  float: left;
  display: inline-block;
  background: #00BFFF;
  margin: 0 5px;
}
/*final edição submenu*/

/*edição cor do submenu nome social*/
.liNomeSocial {
  background: #ed8f1b;
}
/*final edição cor do submenu nome social*/

/*edição dos itens da minha li*/
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
/*final da edição dos itens da li*/

/*efeito do menu ao passar o mouse em cima*/
nav ul li a:hover{
  color:yellow;
  border-radius: 5px;
  box-shadow:  0 0 5px yellow,
               0 0 10px red;
}
/*final do efeito ao passar o mouse*/

/*remover o box-shadow do submenu*/
nav ul ul li a:hover{
  box-shadow: none;
}
/*fim*/


nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #00BFFF;
  opacity: 0;
  visibility: hidden;/*escode o submenu*/
  transition: top .4s;/*transação de tempo*/
}

nav ul li:hover > ul{
  top: 70px;
  opacity: 1; /*mostra o submenu ao passar o mouse em cima*/
  visibility: visible;/*mosta o submenu ao passar o mouse em cima*/
  z-index: 2;
}
/*edição do submenu*/
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 204px;/*largura do submenu*/
  float: none;
  display: list-item;
  border-bottom: 1px solid white;/*borda do submenu*/
}
/*final da edição do submenu*/

nav ul ul li a{
    line-height: 50px; /*ajusta o submenu*/
}



.show,.icon,input{
    display: none; /*esconde a caixa de marcação*/
  }

/*deixa o menu fora do icon*/
 @media all and (max-width: 968px) {
    nav ul{
      margin-right: 0px;
      float: left;
    }
/*fim*/

/*habilita o click para esconder os itens do menu ao diminuir tamanho da tela*/
.show + a, ul{
    display: none;
  }
/*fim*/

/*ajusta os itens dos menus em bloco ao diminuir tamanho da tela*/
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  /*fim*/

  /*retira o efeito ao passar o mouse em cima do submenu (home,localizações e como ajusar) ao recuar tela*/
  nav ul li a:hover{
    box-shadow: none;
  }
/*fim*/

/* exibe todos os itens em formato de bloco ao recuar tela*/
.show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  /*fim*/

/*cor dos menus que tem submenu ao passar o mouse com tela recuada*/  
  .show:hover{
    color: yellow;
  }
  /*fim*/

  /*ícone*/
  .icon{
    display: block;
    color: white;/*cor do incone*/
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  /*fim*/

/*edição do segundo submenu*/
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  /*fim*/

/*padding submenu recuado*/
  nav ul ul a{
    padding-left: 40px;
  }
  /*fim*/
  
  /*display do menu ao clicar nas 3 barras laterais*/
  [id^=btn]:checked + ul{
    display: block;
  }
  /*fim*/

  
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}


/*conteudo da pagina*/
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

/*header*/
header{
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
  }
p{
  font-size: 30px;
  font-weight: 500;
}



/*as edições a partir daqui so estão sendo aplicadas na index*/

/* Edição div com texto e imagem*/


.primeiraClass{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.col-2{
    flex-basis: 50%;
    min-width: 500px;
    

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0; 
       
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:  25px;
    
}
.col-2 p{
    margin: 25px;
}
/*final da edição da div com texto e imagem*/

/*edição das tres imagens ao final da pagina*/
.divicao{
    margin: 70px 0;
}
.col-3{
    flex: 15%;
    min-width: 250px;
    margin: 30px;    
}

.col-3 img{
    width: 100%;
}
.container{
    max-width: 1080px;
    margin: auto;
    justify-content: center;
    padding: 20px;
}

/*final da edição das tres imagens*/



